<IfModule mod_rewrite.c>
    RewriteEngine on
    RewriteCond %{HTTP_HOST} ^infomap24.com [NC]
    RewriteRule ^(.*)$ http://www.infomap24.com/$1 [L,R=301]
    RewriteRule    ^$    webroot/    [L]
    RewriteRule    (.*) webroot/$1    [L]
</IfModule>